{% extends 'layouts/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-4 mx-auto" style="max-width: 850px;">
	<div class="container mt-3 mb-3 px-0 rounded" style="background-color:#DDB892; height: 575px;">
		<div class="row py-2 text-center">
			<h2>About Chess Repertoire</h2>
		</div>
		<div class="row pt-1" style="width: 98%;">
			<div class="container mx-3" style="height: 40px;">
				<p class="fw-light fst-italic" style="max-height: 100px; text-align: justify;">
					Chess Repertoire is a tool designed for studying and storing the repertoire of a player, saving variations of each opening.
					It also includes some features for reviewing, practicing and creating new variations.
				</p>
			</div>
		</div>
		<div class="row pt-3 text-center" style="width: 98%;">
			<h4>Openings</h4>
			<div class="container mx-3" style="height: 40px;">
				<p class="fw-light fst-italic" style="max-height: 100px; text-align: justify;">
					In the case of openings, we have classified them by <strong>difficulty</strong> and <strong>category</strong>.
					Difficulty meaning how difficult is to play the opening ranging from <strong>Beginner</strong> to <strong>Advanced</strong>.
				</p>
			</div>
			<div class="col" style="position: relative; top: 20px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #90BE6D;">BEGINNER</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 20px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #FFB703;">INTERMEDIATE</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 20px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #F3722C;">ADVANCED</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 20px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #F94144;">EXPERT</span>
				</h5>
			</div>
			<div class="container mx-3 pt-1" style="height: 40px; position: relative; top: 20px;">
				<p class="fw-light fst-italic" style="max-height: 100px; text-align: justify;">
					We have also classified openings based on Category. <strong>System</strong> is granted to those openings that have methodic steps.
					<strong>Classic</strong> is assign to those openigns that contain many theory.
					Last but not least, <strong>Gambits</strong> are openings where a certain piece is sacrified in exchange of activity.
				</p>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #7D8597;">CLASSIC</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #455E89;">SYSTEM</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #5FA8D3;">GAMBIT</span>
				</h5>
			</div>
		</div>
		<div class="row pt-3 text-center" style="width: 98%; position: relative; top: 62px;">
			<h4>Variations</h4>
			<div class="container mx-3" style="height: 40px;">
				<p class="fw-light fst-italic" style="max-height: 100px; text-align: justify;">
					In the case of variations, we have classified them by <strong>Category</strong>. 
					<strong>Theoric</strong> is granted to variations with deep theory analysis. 
					<strong>Positional</strong> is given when the variation leads to very positional games. 
					<strong>Tricky</strong> is assigned to variations with very tricky positions. 
					<strong>Sharp</strong> variations are those where there are no many good moves.  
					<strong>Advantageous</strong> means that the other player is already in a bad shape. 
				</p>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #7F5539;">THEORIC</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #495057;">POSITIONAL</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #5C4D7D;">TRICKY</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #800F2F;">SHARP</span>
				</h5>
			</div>
			<div class="col" style="position: relative; top: 65px;">
				<h5 class="text-center" style="justify-content: center;">
					<span class="badge text-light" style="background-color: #43AA8B;">ADVANTAGEOUS</span>
				</h5>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a href="{% url 'repertoire:openings'%}" class="btn text-light" style="width: 350px; background-color: #6D6875;" role="button">Back</a>
	</div>
</div>
{% endblock %}