{% extends 'layouts/base.html' %}

{% block title %}{{ opening.name }} Variations{% endblock %}

{% block content %}

{% load custom_tags %}

<!-- Filter for Openings -->
<div class="container mx-auto px-0" style="max-width: 950px;">
	<div class="container mt-4 px-0 rounded" style="background-color:#DDB892; height: 55px;">
		<form method="GET">
			<div class="form-row pt-2 px-2">
				<div class="row">
					<div class="col pt-2" style="padding-left: 5px; padding-right: 5px;">
						<p class="fw-bold text-center">Name:</p>
					</div>
					<div class="col pt-2" style="position: relative; left:-30px; padding-left: 5px; padding-right: 5px;">
						{{ filter.form.name }}
					</div>
					<div class="col pt-2" style="position: relative; left:--15px; padding-left: 5px; padding-right: 5px;">
						<p class="fw-bold">On Turn:</p>
					</div>
					<div class="col pt-2" style="position: relative; left:-40px; padding-left: 5px; padding-right: 5px;">
						{{ filter.form.on_turn }}
					</div>
					<div class="col pt-2" style="position: relative; left: 5px; padding-left: 5px; padding-right: 5px;">
						<p class="fw-bold">Nature:</p>
					</div>
					<div class="col pt-2" style="position: relative; left: -30px; padding-left: 5px; padding-right: 5px;">
						{{ filter.form.nature }}
					</div>
					<div class="col">
						<button type="submit" class="btn text-light" style="width: 80px; position: relative; left:-10px; background-color: #6D6875;" role="button">Search</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!--Displaying all Variations-->
<div class="container mt-3 mx-auto" style="max-width: 850px;">
	<h3 class="text-center" style="color: #F5F3F4;">Variations from {{ opening.name }}</h3>
	{% for variation in variations %}
		<div class="container mt-3 mb-3 px-0 rounded" style="background-color:#DDB892; height: 276px;">
			<div class="row">
				<!-- Image File -->
				<div class="col-md-4">
					<div class="container-fluid px-0 mx-2 my-2">
						<img src="{{ variation.image_file.url }}" class="img-fluid rounded" style="width: 100%; height: 100%; object-fit: contain;" alt="Variation">
					</div>
				</div>
				<!-- Variation Content -->
				<div class="col-md-8">
					<div class="row">
						<div class="container-fluid mt-2" style="height: 30px;">
							<h4>{{ variation.name }}</h4>
						</div>
					</div>
					<div class="row py-2" style="width: 99%;">
						<div class="container mx-3" style="position: relative; left: -10px; height: 50px;">
							<p class="fw-light fst-italic" style="max-height: 100px; text-align: justify;">{{ variation.description }}</p>
						</div>
					</div>
					<div class="row py-2" style="position: relative; top: 15px; height: 30px;">
						<div class="col">
							<h6 class="text-center" style="justify-content: center">On Turn</h6>
						</div>
						<div class="col">
							<h6 class="text-center" style="position: relative; left: -25px; justify-content: center;">Nature</h6>
						</div>
					</div>
					<div class="row py-1" style="position: relative; top: 15px; height: 50px;">
						<div class="col">
							<h5 class="text-center" style="justify-content: center;">
								{% if not opening.color %}
									<span class="badge text-dark" style="background-color: #F5F3F4; width: 75px;">{{ variation.on_turn }}</span>
								{% else %}
									<span class="badge text-light" style="background-color: #161A1D;">{{ variation.on_turn }}</span>
								{% endif %}
							</h5>
						</div>
						<div class="col">
							<h5 class="text-center" style="position: relative; left: -25px; justify-content: center;">
								{% if variation.nature == 'THC' %}
									<span class="badge text-light" style="background-color: #7F5539;">{{ variation.get_nature_display }}</span>
								{% elif variation.nature == 'PST' %}
									<span class="badge text-light" style="background-color: #495057;">{{ variation.get_nature_display }}</span>
								{% elif variation.nature == 'TRC' %}
									<span class="badge text-light" style="background-color: #5C4D7D;">{{ variation.get_nature_display }}</span>
								{% elif variation.nature == 'SHP' %}
									<span class="badge text-light" style="background-color: #800F2F;">{{ variation.get_nature_display }}</span>
								{% elif variation.nature == 'ADV' %}
									<span class="badge text-light" style="background-color: #43AA8B;">{{ variation.get_nature_display }}</span>	
								{% endif %}
							</h5>
						</div>
					</div>
					<div class="row my-2 px-2 py-4" style="height: 30px;">
						<div class="col text-center">
							<a href="{% url 'repertoire:practice' opening.name variation.slug %}" class="btn text-light" style="width: 150px; background-color: #9C6644;" role="button">Practice</a>
						</div>
						<div class="col text-center">
							<a href="{% url 'repertoire:review' opening.name variation.slug %}" class="btn text-light" style="width: 150px; background-color: #9C6644;" role="button">Review</a>
						</div>
						<div class="col text-center">
							<a href="{% url 'repertoire:modify_variation' opening.name variation.slug %}" class="btn text-light" style="width: 150px; background-color: #9C6644;" role="button">Modify</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="text-center pt-1">
		<a href="{% url 'repertoire:new_variation' opening.slug %}" class="btn text-light" style="width: 350px; background-color: #6D6875;" role="button">New Variation</a>
	</div>

	<!-- Pagination -->
	<div class="pt-3 text-center">
		{% if is_paginated %}

			{% if variations.has_previous %}
				<a class="btn text-light" href="{% custom_url 1 'page' request.GET.urlencode %}" style="width: 100px; background-color: #6D6875;">First</a>
			{% endif %}

			{% for num in variations.paginator.page_range %}
				{% if variations.number == num %}
					<a class="btn text-light" href="{% custom_url num 'page' request.GET.urlencode %}" style="width: 100px; background-color: #8F8B94;">{{ num }}</a>
				{% elif num > variations.number|add:'-3' and num < variations.number|add:'3'%}
					<a class="btn text-light" href="{% custom_url num 'page' request.GET.urlencode %}" style="width: 100px; background-color: #6D6875;">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if variations.has_next %}
				<a class="btn text-light" href="{% custom_url variations.paginator.num_pages 'page' request.GET.urlencode %}" style="width: 100px; background-color: #6D6875;">Last</a>
			{% endif %}

		{% endif %}
	</div>
</div>

{% endblock %}