{% extends 'layouts/base_without_navbar.html' %}

{% block title %}Review {{ variation.name }}{% endblock %}

{% load static %}

{% block content %}
<div class="container mt-3 mx-auto" style="max-width: 900px;">
	<h4 class="text-center" style="color: #F5F3F4;">Reviewing {{ variation.name }} from {{ opening.name }}</h4>
	<div class="container mt-3 mb-3 px-3 py-3 rounded" style="background-color:#DDB892;">
		<div class="row">
			<div class="col-2 d-flex align-items-center justify-content-center">
				<div id="nag-indicator-left"></div>
			</div>
			<div class="col-8">
				<div class="container pt-2 pb-2 text-center">
					<div id="chessboard" style="width: 500px; margin: 0 auto;"></div>
				</div>
			</div>
			<div class="col-2 d-flex align-items-center justify-content-center">
				<div id="nag-indicator-right"></div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<div class="container text-center">
					<div id="move-buttons-container" class="mb-3"></div>
					<div class="d-flex justify-content-center gap-3">
						<button id="undo-btn" class="btn text-light" style="width: 150px; background-color: #6D6875;" role="button">Undo Move</button>
						<button id="restart-btn" class="btn text-light" style="width: 150px; background-color: #6D6875;" role="button">Restart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center mt-3" style="max-width: 500px;">
		<div class="row">
			<div class="col text-center">
				<a href="{% url 'repertoire:opening_variations' opening.slug %}" class="btn text-light" style="width: 200px; background-color: #6D6875;" role="button">Other Variations</a>
			</div>
			<div class="col text-center">
				<a id="practice-btn" href="{% url 'repertoire:practice' opening.name variation.slug %}" class="btn text-light" style="width: 200px; background-color: #6D6875;" role="button">Practice</a>
			</div>
		</div>
	</div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>

<!-- Custom Review Board Styles -->
<link rel="stylesheet" href="{% static 'repertoire/css/review_board.css' %}">

<!-- Django variables for JavaScript -->
<script>
    var playerColor = '{{ opening.color|yesno:"b,w" }}';
    var openingName = '{{ opening.name }}';
    var variationSlug = '{{ variation.slug }}';
    var csrfToken = '{{ csrf_token }}';
    var executeMoveUrl = '{% url "repertoire:review_execute_move" opening.name variation.slug %}';
    var undoMoveUrl = '{% url "repertoire:review_undo_move" opening.name variation.slug %}';
    var restartUrl = '{% url "repertoire:review_restart" opening.name variation.slug %}';
    var getPositionUrl = '{% url "repertoire:review_get_position" opening.name variation.slug %}';
    var nagImagesPath = '{% static "repertoire/nag/" %}';
</script>

<!-- Custom Review Board Logic -->
<script src="{% static 'repertoire/js/review_board.js' %}"></script>

{% endblock %}