<!-- Footer -->
<footer class="footer">
	<div class="container mt-4 mx-auto rounded" style="width: 950px; height: 30px; background-color: #242423">
		<div class="row py-1 align-items-center justify-content-between">
			<div class="col-6">
				<div class="copyright text-center text-left text-muted" style="color: #F5F3F4;">
					&copy; Chess Repertoire - All rights reserved.
				</div>
			</div>
			<div class="col-3" style="position: relative; left: -100px;">
				<div class="text-center text-right text-muted">
					<a href="https://github.com/paudom" class="font-weight-bold ml-1" style="color: #F5F3F4;" target="_blank">Github</a>
				</div>
			</div>
			<div class="col-3" style="position: relative; left: -100px;">
				<div class="text-center text-right text-muted">
					<a href="https://www.chess.com/member/truepacific" class="font-weight-bold ml-1" style="color: #F5F3F4;" target="_blank">Chess.com Account</a>
				</div>
			</div>
		</div>
	</div>
</footer>